<nav class="sidebar" [class.sidebar-hidden]="!isSidebarVisible">
  <div>  
  <ul>
    <li><a routerLink="/featureOne">Feature 1</a></li>
    <li><a routerLink="/featureTwo">Feature 2</a></li>
    <li><a routerLink="/featureThree">Feature 3</a></li>
    <li><a routerLink="/featureFour">Feature 4</a></li>
    <li><a routerLink="/featureFive">Feature 5</a></li>
    <li><a routerLink="/featureSix">Feature 6</a></li>
    <li><a routerLink="/featureSeven">Feature 7</a></li>
    <li><a routerLink="/featureEight">Feature 8</a></li>
    <li><a routerLink="/featureNine">Feature 9</a></li>
  </ul>
  </div>
</nav>