<nav class="sidebar">
  <div>  
  <ul>
    <li id="incremental-hydration" (click)="exampleFunc($event)"><a (featureContentEvent)="handleFeatureContentEvent($event)">Incremental Hydration</a></li>
    <li id="linked-signal" (click)="exampleFunc($event)"><a (featureContentEvent)="handleFeatureContentEvent($event)">Linked Signal</a></li>
    <li id="resource" (click)="exampleFunc($event)"><a (featureContentEvent)="handleFeatureContentEvent($event)">Resource</a></li>
    <li id="let" (click)="exampleFunc($event)"><a (featureContentEvent)="handleFeatureContentEvent($event)">let()</a></li>
    <li id="effect" (click)="exampleFunc($event)"><a (featureContentEvent)="handleFeatureContentEvent($event)">effect()</a></li>
    <li id="after-render-effect" (click)="exampleFunc($event)"><a (featureContentEvent)="handleFeatureContentEvent($event)">afterRenderEffect</a></li>
    <li id="router-outlet-data" (click)="exampleFunc($event)"><a (featureContentEvent)="handleFeatureContentEvent($event)">routerOutletData</a></li>
    <li id="router-outlet-tree" (click)="exampleFunc($event)"><a (featureContentEvent)="handleFeatureContentEvent($event)">routerOutletTree</a></li>
    <li id="typescript" (click)="exampleFunc($event)"><a (featureContentEvent)="handleFeatureContentEvent($event)">Typescript</a></li>
  </ul>
  </div>
</nav>