#ui {
  display: grid;
  width: 100%;
  height: 100vh;
  grid-template-areas:
    "layout-grid layout-grid"
    "content-grid content-grid";
  grid-template-rows: 100px 1fr 100px;
  grid-template-columns: 150px 1fr;
}

#layout-grid {
  display: grid;
  width: 100%;
  height: 100vh;
  grid-template-rows: 100px 1fr 100px; // 
  grid-template-columns: 1fr;
  grid-area: layout-grid;
}

#content-grid {
  display: grid;
  width: 100%;
  grid-template-areas:
  "content content";
  grid-template-columns: 150px 1fr;
  grid-template-rows: 1fr;
  grid-area: content-grid;
}

content {
  display: grid;
  grid-template-columns: 150px 1fr;
  grid-area: content;
}







